body {
    max-width: 600px;
    margin: 60px auto 100px;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
}
h2{
    border-top: solid 5px rgb(161, 160, 160);
    padding-top: 50px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
h2 span{
    color: rgb(80, 68, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: italic;
    display: inline-block;
    margin-left: 250px;
}
h1{
    text-align: center;
}
.p1{
    color: blue;
    font-weight: bold;
    border-bottom: dotted 5px green;
}
.p2{
    color: rgb(28, 125, 185);
    font-style: italic;
    border-bottom: dotted 5px rgb(195, 14, 186);
}
footer{
   margin-top: 30px;
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}
li{
    background-color: grey;
    border-radius: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
}   
li a{
    text-decoration: none;
}
li a:visited{
    color: red;
}
li a:hover{
    color: ivory;
}

.b1{
width: 75px;
height: 50px;
border-radius: 10px;
border: 10px;
color: rgb(0, 0, 0);
font-weight: bold;
font-size: 44px;;  
margin: 5px;  
}
.b1:nth-child(1){
    background-color: blue;
}
.b1:nth-child(2){
    background-color: rgb(9, 255, 0);
}
.b1:nth-child(3){
    background-color: rgb(255, 0, 149);
}
.b1:nth-child(4){
    background-color: rgb(255, 238, 0);
}
.b1:nth-child(5){
    background-color: rgb(255, 51, 0);
}

.b1:hover{
    background-color: rgb(142, 66, 165);
}